#wrapper {
    width:1000px;
    
 
}
#first {
    
    width:140px;
    float:left;
    background-color: red;
    height:20px;
}
#second {
   
    width:200px;
    float:left;
    background-color: green;
    height:20px;
}
#three {
    
    width:120px;
    float:left;
    background-color: yellow;
    height:20px;
}
#four {
    
    width:90px;
    float:left;
    background-color: grey;
    height:20px;
}

#clear {
    clear: both;
}